[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
tornado = "*"
sharadvikram-com = {editable = true,path = "."}
ipdb = "*"
Jinja2 = ">=2.10.1"
jupyter = "*"

[requires]
python_version = "3.7"
