-i https://pypi.org/simple
-e .
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
flask==0.10.1
gunicorn==19.3.0
itsdangerous==0.24
jinja2==2.7.3
markupsafe==0.23
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
webargs==0.13.0
werkzeug==0.10.4
