extends layout

block content
  div.wrapper
    div.aboutme
      | Hello! 
      | I'm currently studying Electrical Engineering and Computer Science at U.C. Berkeley. In the past, I have interned at <a href='http://cts.cubic.com'>Cubic Transportation Systems</a>, <a href='http://www.rewardme.com'>RewardMe</a>, and <a href='facebook.com'>Facebook</a>.
