extends layout
block css
  link(rel='stylesheet', href='/css/blog.css')
block content
  each post in posts
    div.blog-title
      a.blog-title(href='/blog/#{post.id}')
        | #{post.title}
    markdown.blog-content(ng-model='post.content')
      | #{post.content}
