extends home_layout

block css
  link(rel='stylesheet', href='/css/home.css')

block content
  div(class='col-xs-12 center-block text-center')
    span.welcome
      | Sharad Vikram
  div
    div.row
      div(class='col-md-3 col-md-offset-3 left-col spacing-top')
        div.profile-wrapper
          img.profile(src='/img/me.jpg')
      div(class='col-xs-12 col-md-3 center-block text-center spacing-top')
        a.main-link(class='left-link-spacing', href='/teaching')
          | Teaching
        a.main-link(class='left-link-spacing', href='/projects')
          | Projects
        a.main-link(href='/blog')
          | Blog
    div.row(class='spacing-top')
      div(class='col-md-6 col-md-offset-3')
        | I'm a 3rd year EECS major at U.C. Berkeley who enjoys teaching, research, and building cool stuff.
