extends base

block main
  div.row
    #left-bar(class='col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-0 col-xs-12', style="display: static;")
      a.wrapper(href='/', class='hidden-xs')
        img.me(src='/img/me.jpg')
      a.left-link(class='visible-xs spacing-top', href='/teaching') Home
      a.left-link(class='spacing-top', href='/teaching') Teaching
      a.left-link(class='spacing-top', href='/projects') Projects
      a.left-link(class='spacing-top', href='/blog') Blog
    #content(class='col-lg-10 col-md-9 col-xs-12')
      block content
