extends base

block main
  #left-bar(class='col-md-2')
    a.left-link(href='/') Home
    a.left-link(href='/about') About
    a.left-link(href='/blog') Blog
  #content(class='col-md-10')
    block content
