extends layout

block content
  h1
    | Teaching
  p
    | In the past, I've been a teaching assistant for CS61A (Spring 2012, Fall 2012).
    | I'll be updating this page with my current teaching information if I have any.
