.blog-content {

}
div.blog-title {
  border-top: solid;
  border-bottom: solid;
  color: #929292;
}
a.blog-title {
  transition: color 0.2s;
  text-decoration: none;
  color: #929292;
  font-size: 32px;
}
a.blog-title:hover {
  color: #000000;
}
.blog-wrapper {
  text-align: center;
}
.content-wrapper {

}
.wrapper {
  margin: auto;
  width: 800px;
}
