.blog-content {

}
div.blog-title {
  background-color: #E7E7E7;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3em;
  padding: 5px;
}
.blog-wrapper {
  text-align: center;
}
.content-wrapper {

}
