.container {
  background-color: white;
}
.welcome {
  font-size: 48px;
}
.profile-wrapper {
  text-align:center;
  width:223px;
  height:223px;
  overflow:hidden;
  position:relative;
  border-radius:5px;
  margin: 0 auto;
}
.text-wrapper {
  display:inline-block;
  width:200px;
  margin:0 auto;
  text-align:left;
}
.profile {
  position:absolute;
  left:-20px;
  top:-20px;
  width:243px;
}
.left-col {
  text-align:center;
}
