body, html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif !important;
  letter-spacing: 1.1px;
  margin: 0px;
  padding: 0px;
  color: #000000;
  /*background: #a7a09a;*/
  width: 100%;
  height: 100% !important;
  font-size:1.1em !important;
}

/*#left-bar {
  float: left;
  width: 200px;
  height: 100%;
  background-color: #E6E6E6;
  padding-top: 5px;
}*/

a.main-link {
  color: #363636;
  display: block;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
  text-align: center;
  font-size: 43px;
  border-radius:5px;
  background-color: #DFDFDF;
}

a.left-link {
  color: #363636;
  display: block;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
  text-align: center;
  font-size: 1.7em;
  border-radius:5px;
  background-color: #DFDFDF;
}

a.left-link-spacing {
  margin-bottom:5px;
}

.spacing-top {
  margin-top:5px;
}

.main-link:hover {
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 5px;
  background-color: #BDBDBD;
  color: #000000;
}

.left-link:hover {
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 5px;
  background-color: #BDBDBD;
  color: #000000;
}

.top-buffer { 
  margin-top: 20px; 
}
.me {
  width:100%;
  cursor:pointer;
}
.me-wrapper {
  text-align:center;
}
.container {
  /*background-color: rgb(231, 231, 255);*/
  padding-top:5px;
  padding-bottom:5px;
}
