.project {
  margin-top:5px;
  border-radius: 5px;
  background-color:#E7E7E7;
  padding:5px;
}

.project-title {
  font-size:1.4em;
  text-align: center;
  background-color:#D3D3D3;
  border-radius:5px;
  margin-bottom:5px;
}

.img-container {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.github {
  margin-left:10px;
  width:20px;
}
.project-content {
  font-size:0.8em !important;
}
