extends layout

block content
  link(rel='stylesheet', href='/css/index.css')
  #blog(ng-app='blog', ng-controller='BlogControl')
    div(ng-repeat='post in posts')
      a(href='/blog/{{post._id}}')
        {{post.title}} 
      markdown-short(ng-model='post.description')
