doctype 5
html(ng-app='sharad')
  head
    title Sharad Vikram
    link(rel='stylesheet', href='/css/code.css')
    script(src='/lib/jquery.js')
    script(src='/lib/showdown.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js')
    script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured')
    script(type='text/x-mathjax-config').
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            }
        })
    script(src='/js/app.js')
    script(src='/js/controllers.js')
  body()
    #contents
      block content
