<html>
  <head>
    <script type='text/javascript' src='/js/backbone.min.js'></script>
    <script type='text/javascript' src='/js/<%= page %>.js'></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
