doctype 5
html(ng-app='sharad')
  head
    title Sharad Vikram
    link(rel='stylesheet', href='/css/code.css')
    script(src='/js/jquery.js')
    script(src='/js/showdown.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js')
  body()
    #contents
      block content
