<div>
  <h3>Who am I?</h3>
  <p>I'm a PhD student at UCSD, advised by
  <a href='http://cseweb.ucsd.edu/~dasgupta/'>Sanjoy Dasgupta</a>.
  I did my undergrad in computer science at U.C. Berkeley.</p>

  <h3>What am I doing?</h3>

  <!--<p>I'm currently TAing <a href='http://cseweb.ucsd.edu/~dasgupta/250B/index.html'>CSE 250B</a>.-->
  <!--For more info check out my <a ui-sref='teaching'>teaching</a> page.</p>-->

  <p>I do research!
  I'm currently working on hierarchical clustering(<a href='https://arxiv.org/abs/1602.03258'>IBHC</a>, <a href='https://arxiv.org/abs/1810.06891'>LORACs</a>)
  and deep reinforcement learning (<a href='https://arxiv.org/abs/1808.09105'>SOLAR</a>). I also maintain a 
  deep learning library (<a href='http://www.github.com/sharadmv/deepx'>deepx</a>).

  <p>Also, check out <a href='http://deepx.ucsd.edu'>this website</a> for some deep learning demos I've worked on with other UCSD people.</p>

  <h3>Information</h3>
  <div>Email: sharad DOT vikram AT gmail DOT com</div>
  <div>Github: <a href='http://www.github.com/sharadmv'>sharadmv</a></div>
  <div>Twitter: <a href='http://www.twitter.com/sharadvikram'>@sharadvikram</a></div>
  <div>Office: CSE 4146</div>
</div>
