<div>
  <h3>Who am I?</h3>
  <p>I'm a PhD student at UCSD, advised by
  <a href='http://cseweb.ucsd.edu/~dasgupta/'>Sanjoy Dasgupta</a>.
  I did my undergrad in computer science at U.C. Berkeley.</p>

  <h3>Stuff I Do</h3>

  <p>I'm currently TAing <a href='http://cseweb.ucsd.edu/~dasgupta/250B/index.html'>CSE 250B</a>.
  For more info check out my <a ui-sref='teaching'>teaching</a> page.</p>

  <p>I also do research! I'm currently working on <a href='/pdf/research/ihcbn.pdf'>hierarchical clustering</a> and also have worked
  on a <a href='http://www.github.com/sharadmv/deepx'>deep learning library</a>.</p>

  <p>Also, <a href='http://deepx.ucsd.edu'>deepx</a>.</p>

  <h3>Information</h3>
  <div>Email: sharad DOT vikram AT gmail DOT com</div>
  <div>Github: <a href='http://www.github.com/sharadmv'>sharadmv</a></div>
  <div>Office: CSE 4146</div>
</div>
