#about-me-container {
  flex-direction: row;
}

#about-me-description {
  display: flex;
  flex-direction: column;
}

#about-me-photo {
  display: flex;
  margin-top: 20px;
}

#about-me-content {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 30vw;
  width: 30vw;
  max-height: 240px;
  max-width: 240px;
}
