#about-me-container {
  display: flex;
  flex-direction: row;
}

#about-me-content {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

#about-me-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

#about-me-photo {
  display: flex;
  margin-top: 20px;
}

#about-me-title {
  margin-bottom: 12px;
}

img.rounded {
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
  max-width: 200px;
  max-height: 200px;
}
