#icon-container {
  display: flex;
  margin-left: -16px;
}

#icon-twitter {
  background: url("/twitter.png");
  background-size: 100% 100%;
}

#icon-email {
  background: url("/email.png");
  background-size: 100% 100%;
}

#icon-github {
  background: url("/github.png");
  background-size: 100% 100%;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  margin: 16px;
}
